@model ProjectElderScrolls.Models.AppUser
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-md-6">
        @if (TempData["error"] != null)
        {
            <div class="alert alert-danger">
                <span>@TempData["error"]</span>
            </div>
        }

        <form method="post">
            <div class="form-group">
                @*<label>User name</label>*@
                <label>@Html.DisplayNameFor(x => x.UserName)</label>
                @Html.ValidationMessageFor(x => x.UserName)
                @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @*<label>Email</label>*@
                <label>@Html.DisplayNameFor(x => x.Email)</label>
                @Html.ValidationMessageFor(x => x.Email)
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @*<label>Password</label>*@
                <label>@Html.DisplayNameFor(x => x.Password)</label>
                @Html.ValidationMessageFor(x => x.Password)
                @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @*<label>Confirm Password</label>*@
                <label>@Html.DisplayNameFor(x => x.ConfirmPassword)</label>
                @Html.ValidationMessageFor(x => x.ConfirmPassword)
                @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control" })
            </div>
            <button class="btn btn-primary" type="submit">Create user</button>

        </form>
    </div>
</div>



