
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Elder Scrolls</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <style>
        body {
            background-color: lightslategrey;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>

</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/Home/Index">Elder Scrolls</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    @Html.ActionLink("Classes", "Index", "Class", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Races", "Index", "Race", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Create your own", "Index", "Order", null, new { @class = "nav-link" })
                </li>
                
                
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <!--Navbar /-->
    <!--Content-->
    <div class="container">

        <!--RenderBody-->
        @RenderBody()

    </div>
    <!--Content/-->
    <!--Footer-->
    <footer>
        <div class="container text-center">
            <span>@DateTime.Now.Year-BilgeAdam</span>
        </div>
    </footer>
    <!--Footer/-->
</body>
</html>
